<div class="containerHeader">
    <header>
        <nav>
            <div class="toolBar">
                <div class="menu">
                    <img src="../assets/img/menu.png" />
                </div>
                
                <div class="searchbox">
                    <img src="../assets/img/search.png" />
                </div>

                <div class="userMenu">
                    <img src="../assets/img/user.png" />
                </div>
                <div class="cartMenu">
                    <img src="../assets/img/cart.png" />
                </div>
            </div>
        </nav>
    </header>
</div>
