<div class="containerHeader">
    <header>
        <nav>
            <div class="toolBar">
                <div class="menu">
                    <div class="menuIcon">
                        <img src="../assets/img/menu.png" />
                    </div>
                </div>
                <div class="barIcons">                    
                    <div class="searchIcon">
                        <div class="searchImg">
                            <img src="../assets/img/search.png" />
                        </div>
                    </div>

                    <div class="userIcon">
                        <div class="userImg">
                            <img src="../assets/img/user.png" />
                        </div>
                    </div>

                    <div class="cartIcon">
                        <div class="cartImg">
                            <img src="../assets/img/cart.png" />
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>
