.containerHeader{
    height: 200px;
    background-color: #E5E5E5;   
}

.toolBar{
    height: 42px;
}

.menu{
    height: 100%;
    position: absolute;
    left: 25px;
    margin-top: 10px;
}

.searchbox{
    height: 100%;
    position: absolute;
    right: 94px;
    margin-top: 10px;
}

.userMenu{
    height: 100%;
    position: absolute;
    right: 57px;
    margin-top: 10px;
}

.cartMenu{
    height: 100%;
    position: absolute;
    right: 25px;
    margin-top: 10px;
}