.cadastroUsuario{
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #777;
    border-radius: 5px;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    text-align: center;
}

.botao{
    width: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
}